body {
    width: 1920px;
}

/* Shadows */
.R0-sh-0-16-40 {
    box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 20%);
}

/* Border Radius */
.R0-br-20 {
    border-radius: 20px;
}
.R0-br-10 {
    border-radius: 10px;
}

/* Backgrounds */
.R0-bg-w{
    background-color: white;
}

/* Fonts */

.R0-fnt-poppins {
    font-family: 'Poppins', sans-serif;
}