/* Font Colors */

.cu-active {
    color: #4BBEF7;
}

.cu-h {
    color: #333;
}

.cu-w {
    color: #FFF;
}

.cu-4BBEF7 {
    color: #4BBEF7
}

.cu-9DA9BE {
    color: #9DA9BE;
}