/* backgrounds */
.cM0-bg-main{
    background-color: #457AFB;
}
.cM0-bg-dark{
    background-color: #393D42;
}
.cM0-bg-white{
    background-color: #F8F9FA;
}
/* colors */
.cM0-white{
 color: #F8F9FA;   
}